/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import './variable.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: auto;
  background-color: #fff;
  overflow-wrap: break-word;
  line-height: 1.5;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100vh;
  padding: 1rem;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
a {
  color: #3273dc;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  background-color: #e4eef1;
  padding-inline: 1rem;
  flex-direction: row;
}

main {
  color: var(--main-color);
  grid-area: main;
}

.august {
  height: 100vh;
  border-left: 1.35rem solid grey;
  border-radius: 20px 0 0 0;
}

.tiranga {
  background: linear-gradient(to bottom, var(--first-color) 0 33%, var(--second-color) 33% 66%, var(--third-color) 66%);
  animation: furl 4s ease-in-out infinite;
  width: 30vmax;
  height: 20vmax;
  display: block;
}

._tiranga::after {
  content: '';
  position: relative;
  top: 5.3rem;
  width: 5rem;
  height: 5rem;
  display: block;
  left: 10rem;
  border-radius: 50%;
  background: repeating-linear-gradient(45deg, #ffffff 10px, #9198e5 12px);
}

footer {
  justify-self: center;
  align-self: end;
  grid-area: footer;
}

nav {
  display: flex;
  gap: 1rem;
  text-align: center;
}

@keyframes furl {
  10% {
    background: linear-gradient(to bottom, var(--first-color) 30%, var(--second-color) 50%, var(--third-color) 66%);
    transform: translate(-4vw, 40rem) scale(0.35, 0.5);
    width: 15vw;
    border-radius: 30%;
  }
  50% {
    border-radius: 0%;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
