---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
	<p> My name is Keshav Mohta and I am from India.</p>
	<p> Currently I am working in JP Morgan Chase & Co. . I have started working after my gradutaion, (B.Tech.) completed in 2009. In intialy years of my career, worked with PHP and MySQL and developed many websites from scratch and 
		that time jQuery and MooTools are 2 main javascript libraries which do some fancy stuffs, jQuery was and is my personal favourite.</p>
	<p>Later, in 2015, started working as a front end developer and since then working as a FE engineer and learned Angular 1 and later Angular 4 and 6. Also won many awards and accolades on my UI.</p>	
	<p>in 2019, I joined Barclays, worked in React 16 with hooks, develop full feature from scratch and deployed within 4 month of span with zero production defect.</p>
	<p>Currently working in JP Morgan Chase & Co. as a UI developer.</p>
	<p>
		Apart from these, also intrested in tools, such as chrome extension development, vs code extension development. built 3 chrome extension and 1 vs code extension.
	</p>
</Layout>
