---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "About",
  description: "About myself",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About</h1>
    <p>Hi, I’m Keshav Mohta. An engineer by ♥.</p>
    <div class="flex justify-center">
      <!--<Image
        src={img404}
        alt="A cartoon cactus looking at the 'Astro.build' logo"
        loading="eager"
        fetchpriority="high"
      />-->
    </div>
    <p>Here are my some of my tech stack and feature:</p>
    <ul class="list-inside list-disc">
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>Extension Development</li>
      <li>Speaker at Tech confrences</li>
      <li>Learning AI</li>
    </ul>
  </div>
</PageLayout>
