---
import Layout from '../layouts/BlogPost.astro';

---

<Layout title="About Me" description="about keshav mohta" pubDate={new Date()} updatedDate={new Date()} heroImage="/placeholder-about.jpg">
  <p>My name is Keshav Mohta and I am from India.</p>
</Layout>
