---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "About",
  description: "About myself",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About</h1>
    <p>Hi, I’m Keshav Mohta. An engineer by ♥.</p>
    <div class="flex justify-center"></div>
    <p>Here are my some of my tech stack and feature:</p>
    <ul class="list-inside list-disc">
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>Extension Development</li>
      <li>Speaker at Tech confrences</li>
      <li>Learning AI</li>
    </ul>
  </div>
  <section class="mt-10">
    <h1 class="title">One More Thing</h1>
     Even though a lot of people consider me a strange person, I still enjoy meeting new people and talking about programming, psychology,
    philosophy, and life. I’m also passionate about helping newcomers in tech by answering their questions and guiding them through their
    journey.
  </section>
</PageLayout>
