---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="about keshav mohta"
  pubDate={new Date('2023-08-08')}
  updatedDate={new Date()}
  heroImage="/placeholder-about.jpg"
>
  <p>An engineer from India.</p>
</Layout>
