---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION,SITE_TITLE } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				height: 80vh;
				width: 100%;
				background-color: blueviolet;
			}
			h1 {			
				color: white;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑 Hello!</h1>
		</main>
		<Footer />
	</body>
</html>
