---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import { ViewTransitions } from 'astro:transitions';
import '../assets/styles/main.css';
import Hero from '../components/Hero.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <Hero />
    <Footer />
  </body>
</html>
