---
import Layout from '../layouts/BlogPost.astro';

const today = new Intl.DateTimeFormat('en-US').format(new Date());
---

<Layout title="Work and Project" description="About work" updatedDate={new Date()} heroImage="/placeholder-about.jpg">
  <p>Here showcase recent work and learnings.</p>
</Layout>
