---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Home" }}>
  <section>
    <h1 class="title mb-6">My work</h1>
    <p class="mb-4">Below are the list of few of my work.</p>
  </section>
</PageLayout>
