---
import chakra from '../styles/assets/AC.png';
import '../styles/flag.css';
---

<article class="august">
  <section class="tiranga">
    <img src={chakra} alt="ashok chakra" class="chakra" />
  </section>
</article>
