---
import { Image } from 'astro:assets';
import chakra from '../assets/images/AC.png';
import '../assets/styles/flag.css';
---

<article class="august">
  <section class="tiranga">
    <Image src={chakra} alt="ashok chakra" class="chakra" />
  </section>
</article>
