---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<h1>
		{SITE_TITLE}
	</h1>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/xkeshav" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/xkeshav" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
