---
import { SITE_ADDRESS, SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';

const today = new Date();
const date = today.getDate();
const month = today.getMonth();
const isIndependenceDay = date === 15 && month === 7;
---

<header>
  <h1>
    {
      isIndependenceDay ? (
        `Happy Independence Day`
      ) : (
        <a href={SITE_ADDRESS} target="__" rel="noopener noreferrer">
          {SITE_TITLE}
        </a>
      )
    }
  </h1>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/work">Work</HeaderLink>
    <!--<HeaderLink href="https://twitter.com/xkeshav" target="_blank">Twitter</HeaderLink>-->
    <HeaderLink href="https://github.com/xkeshav" target="_blank">GitHub</HeaderLink>
  </nav>
</header>
