---
import { getShareUrl } from "@/utils";
import { Icon } from "astro-icon/components";
---

<ul class="share">
  <li>
    <a href={getShareUrl("facebook", Astro.url)} target="_blank" rel="noopener">
      <Icon name="mdi:facebook" />
    </a>
  </li>
  <li>
    <a href={getShareUrl("reddit", Astro.url, "Check out this blog post!")} target="_blank" rel="noopener">
      <Icon name="mdi:reddit" />
    </a>
  </li>
  <li>
    <a href={getShareUrl("twitter", Astro.url, "Check out this blog post!")} target="_blank" rel="noopener">
      <Icon name="mdi:twitter" />
    </a>
  </li>
  <li>
    <a href={getShareUrl("linkedin", Astro.url, "Check out this blog post!")} target="_blank" rel="noopener">
      <Icon name="mdi:linkedin" />
    </a>
  </li>
  <li>
    <a href={getShareUrl("pinterest", Astro.url, "Check out this blog post!")} target="_blank" rel="noopener">
      <Icon name="mdi:pinterest" />
    </a>
  </li>
  <li>
    <a href={getShareUrl("whatsapp", Astro.url, "Check out this blog post!")} target="_blank" rel="noopener">
      <Icon name="mdi:whatsapp" />
    </a>
    <li>
      <a href={getShareUrl("email", Astro.url, "Check out this blog post!")} target="_blank" rel="noopener">
        <Icon name="mdi:email" />
      </a>
    </li>
  </li>
</ul>

<style>
  ul {
    display: flex;
    list-style-type: none;
    padding: 1rem;

    & li {
      font-size: 2rem;
      display: inline-block;
    }
  }
</style>
