---
const { date } = Astro.props;
import { fullEnglish, fullHindi } from "../utils/constants";

const fullDate = new Intl.DateTimeFormat("en-us", fullEnglish);
const samay = new Intl.DateTimeFormat("hi", fullHindi); // TODO: hindi name display
---

<time datetime={date.toISOString()}>
  <p>{fullDate.format(date)}</p>
  <p>{samay.format(date)}</p>
</time>
<style>
  p {
    display: inline-block;
    color: #ded5bc;
    font-weight: 300;
    padding-inline: 0.25rem;
  }
</style>
