---
const { date } = Astro.props;
import { fullEnglish } from '../utils/constants';

//console.log({ fullEnglish }); // display in terminal; not on browser

const fullDate = new Intl.DateTimeFormat('en-us', fullEnglish);
//const samay = new Intl.DateTimeFormat(hindi, styleOption); // TODO: hindi name display
---

<time datetime={date.toISOString()}>
  <p>{fullDate.format(date)}</p>
</time>
<style>
  p {
    display: inline-block;
    color: #ded5bc;
    font-weight: 300;
    padding-inline: 0.25rem;
  }
</style>
