/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import './variable.css';
/* following :root block added by css color collector */
:root {
  --body__bg--1: #080508;
  --a__txt--2: #3273dc;
  --code__bg--3: #f2f2f2;
  --blockquote__border--4: #999;
  --blockquote__txt--5: #222;
  --header__bg--6: #e4eef1;
  --h1__txt--7: #5f83a6;
  --h1__txt--8: #e43986;
  --first__txt--9: rgb(160, 4, 147);
  --first__txt--10: rgb(31, 17, 17);
  --selection__bg--11: hsl(30, 10%, 4%);
  --selection__txt--12: rgb(228, 179, 16);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: auto;
  background-color: var(--body__bg--1);
  overflow-wrap: break-word;
  line-height: 1.5;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100vh;
  padding: 1rem;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
a {
  color: var(--a__txt--2);
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: var(--code__bg--3);
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}

blockquote {
  border: 1px solid var(--blockquote__border--4);
  color: var(--blockquote__txt--5);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header__bg--6);
  padding-inline: 1rem;
}

header > h1 {
  font-size: var(--font__large);
  color: color-mix(in hsl shorter hue, var(--h1__txt--7) 80%, var(--h1__txt--8) 20%);
  font-weight: 400;
  &::first-letter {
    color: var(--first__txt--9);
    font-weight: 400;
    padding-inline: 0.25rem;
  }
  &:hover {
    &::first-letter {
      color: var(--first__txt--10);
    }
  }
  &::selection {
    background-color: var(--selection__bg--11);
    color: var(--selection__txt--12);
  }
}

main {
  color: var(--main-color);
  grid-area: main;
}

footer {
  justify-self: center;
  align-self: end;
  grid-area: footer;
}

nav {
  display: flex;
  gap: 0.6rem;
  text-align: center;
}
