/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import './variable.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: auto;
  background-color: #fff;
  overflow-wrap: break-word;
  line-height: 1.5;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100vh;
  padding: 1rem;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
a {
  color: #3273dc;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  background-color: #e4eef1;
  padding-inline: 1rem;
}

header > h1 {
  font-size: clamp(1rem, -0.875rem + 5.333vw, 3.5rem);
}

main {
  color: var(--main-color);
  grid-area: main;
}

footer {
  justify-self: center;
  align-self: end;
  grid-area: footer;
}

nav {
  display: flex;
  gap: 0.6rem;
  text-align: center;
}
