.main__container {
  /*background-color: color-mix(in lch shorter hue, #fff6fa 25%, #bbd9cf);*/
  background-color: color-mix(in lch shorter hue, #432e37 25%, #000000);
  color: var(--txt-color);
  font-family: 'Roboto';
  font-size: 1.75ch;
  width: 100%;
  padding: 1rem;
}
