/* following :root block added by css color collector */
:root {
  --main__container__bg__img--1: #181616;
  --main__container__bg__img--2: #eb5ad1;
}
.main__container {
  background-image: linear-gradient(to bottom right, var(--main__container__bg__img--1) 50%, var(--main__container__bg__img--2) 50%);
  background-blend-mode: darken;
  color: var(--txt-color);
  font-family: 'Roboto';
  font-size: 1.75ch;
  width: 100%;
  padding: 1rem;
  display: grid;
  place-content: center;
}
